body {
    font-family: 'Lato';
    padding-top: 60px;
}

.fa-btn {
    margin-right: 6px;
}

.text-small {
    font-size: 12px;
    font-size: 0.75vw;
}

.table-videos{
    table-layout: fixed;
    min-width: 500px;
}

.update-field-canceled{
    background-color: red;
}

.update-field-saved{
    background-color: green;
}

.update-field-pending{
    background-color: yellow;
}

/*.td-long{*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*max-width: 19em;*/
/*}*/

.td-long-editing{
    text-overflow: initial;
    white-space: normal;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(26, 154, 245, .5);
    background-color: white;
    /*border: 1px solid #1a9af5;  */
    border: 1px solid #ddd;
    outline: 0px solid transparent;
    opacity: 1;
}

.td-long-selecting{
    width: 100%;
    text-overflow: initial;
    white-space: normal;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(26, 154, 245, .5);
    background-color: white;
    /*border: 1px solid #1a9af5;  */
    border: 1px solid #ddd;
    outline: 0px solid transparent;
    opacity: 1;
}

.td-videos-thumbnail{
    /*width: 52px;       */
}

.td-videos-checkbox{
    /*width: 25px;       */
}

.td-videos-title{
    /*width: 20%;       */
}

.td-videos-description{
    /*width: 20%;*/
}

.td-videos-produced-at{
    /*width: 75px !important;*/
}

.td-videos-client{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    /*width: 12%;*/
}

.td-videos-name{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    /*width: 12%;*/
}

/*.td-videos-new{*/
    /*width: 40px;*/
/*}*/

/*.td-videos-ignore{*/
    /*width: 52px;*/
/*}*/


.td-videos-actions{
    white-space: nowrap;
}

/*.myThumbnail {*/
    /*max-height: 30px;*/
/*}*/

/*.myThumbnail:hover {*/
    /*position:relative;*/
    /*width:300px !important;*/
    /*height:auto;*/
    /*max-height: none;*/
    /*display:block;*/
    /*z-index:999;*/
    /*cursor: pointer;*/
/*}*/

.img-overlay {
    position: absolute;
    top: 0;
    left: 170px;
    max-width: 500px;
    max-height: 200px;
    /*background: url("../imgs/creativa.png") repeat;*/
    z-index: 9000;
    display: none;
}

.btn-group + .btn-group {
    margin-left: -5px;
}

div.ellipsis
{
    /*white-space:nowrap;*/
    /*max-width:12em;*/
    /*overflow:hidden;*/

    width:12em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

/*#datatable {*/
    /*overflow-y: auto;*/
    /*display: block !important;*/
    /*max-width: 100% !important;*/
/*}*/

#datatable td {
    white-space: nowrap;
    overflow: hidden;
}

div.datepicker.datepicker-dropdown {
    z-index: 1051 !important;
}

@media (min-width: 768px) {
    .modal-xl {
        width: 90%;
        /*max-width:1200px;*/
    }
}